@import "bootstrap/_variables.scss";
@import "bootstrap/mixins/_size.scss";
@import "timeline.scss";

html {
  position: relative;
  min-height: 100%;

  button:focus {
    outline: none;
  }

  body {
    a[target=_blank]:after {
      font: normal normal normal 14px/1 FontAwesome;
      content: '\f08e';
      line-height: .5rem;
      opacity: .5;
      padding-left: .2rem;
    }

    margin: 92px auto 60px auto;

    .topic {
      margin-top: 2rem;
      border-bottom: 1px dashed $blockquote-border-color;

      .blockquote {
        color: $brand-contrast;
        font-size: 1.1rem;
        border-left: 0.25rem solid $blockquote-border-color;

        &>p {
          font-style: italic;
          margin-bottom: .25rem;

          &.blockquote-footer {
            font-style: normal;
          }
        }
      }
    }

    .navbar-toggler {
      color: $brand-contrast;
    }

    .navbar-nav .nav-link {
      display: inline-block;

      & + .nav-link {
        margin-left: .25rem;

        .rc-subnav-button {
          display: inline-block;
          color: $brand-contrast;
          background: $brand-light;
          text-align: center;
          line-height: 1rem;
          border-radius: 25%;
          height: 1rem;
          width: 1rem;
          opacity: .5;

          &:hover,
          &:active {
            color: $brand-light;
            background: $brand-contrast;
          }
        }
      }

      &.active + .nav-link {
        .rc-subnav-button {
          color: $brand-light;
          background: $brand-contrast;

          &:hover,
          &:active {
            color: $brand-contrast;
            background: $brand-light;
          }
        }
      }
    }

    .dropdown-toggle::after {
      content: initial;
    }

    .dropdown-menu {

      background: $body-bg;

      &> li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        white-space: nowrap;

        &:focus,
        &:hover {
          color: $brand-contrast;
          text-decoration: none;
          background-color: $gray-lighter;
        }
      }

      .dropdown-header {
        color: $brand-contrast;
      }

      .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: $brand-primary;
        opacity: .5;
      }
    }

    ul.rc-expandable-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li.rc-expandable {
        cursor: pointer;

        &:before {
          color: $brand-primary;
          padding: 0 .25rem 0 1rem;
          font: normal normal normal 16px/1 FontAwesome;
          font-weight: 900;
          content: '\f065';
          transition: padding 300ms;
          line-height: 2rem;
        }

        > div.rc-media {
          opacity: .25;
          transition:  margin 500ms, opacity 1500ms;
          transition-timing-function: ease-in;

          > rc-carousel {
            display: none;
          }
        }

        &.rc-expanded {
          &:before {
            content: '\f066';
            padding: 0 .25rem 0 0;
          }

          > div.rc-media {
            cursor: auto;
            opacity: 1;
            margin: .5rem 0 1.5rem 0;

            > rc-carousel {
              display: block;
            }
          }
        }
      }
    }

    rc-carousel {
      .card {
        color: darken($brand-light, 5%);
        background: $brand-carousel-card-bg;
        border-radius: .35rem;

        a {
          color: darken($brand-light, 2%);
        }
      }
    }

    .carousel-overlay {
      .carousel-control-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 15%;

        &.left {
          left: 0;
        }

        &.right {
          right: 0;
        }
      }
    }

    .carousel-control-panel {
      width: 100%;
      position: relative;
      min-height: 2rem;
      background: rgba(73, 39, 74, 0.65);
      border-radius: 0 0 .35rem .35rem;

      .carousel-indicators {
        position: initial;
        list-style: none;
        margin: 0 auto;
        padding-top: .15rem;
        z-index: $zindex-navbar;
      }

      li {
        height: 8px;
        width: 12px;
        border: 1px solid darken($brand-light, 5%);
        border-radius: 25%;
        margin: 0;

        &.active {
          height: 8px;
          width: 12px;
          background: $brand-contrast;
        }

        + li, + li.active {
          margin-left: 2px;
        }
      }

    }

    .carousel-control {
      &:focus {
        opacity: .5;
      }

      .fa {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        line-height: 1;

        &.fa-chevron-left {
          left: 5%;
        }

        &.fa-chevron-right {
          right: 5%;
        }
      }
    }

    .carousel-inner {
      background: $brand-contrast;

      .carousel-item {
        > img {
          width: 100%;
        }
        > div.rc-video-clip {
          position: relative;
          padding-bottom: 56.25%;
          padding-top: 35px;
          height: 0;
          overflow: hidden;

          > iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      background-color: $brand-footer;
      border-radius: $border-radius $border-radius 0 0;

      a[target=_blank]:after {
        font: inherit;
        content: '';
        line-height: inherit;
        opacity: 0;
        padding-left: 0;
      }
    }

    body > .container {
      padding: 60px 15px 0;
    }

    .footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }

    code {
      font-size: 80%;
    }

    ul.social {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      > li {
        display: inline-block;
        > a {
          display: inline-block;
          font-size: 18px;
          line-height: 34px;
          @include size(32px, 32px);
          border-radius: 25%;
          background-color: $brand-primary;
          color: $body-bg;
          margin: 0 3px 3px 0;
          box-shadow: 1px 1px 3px 0 rgba(73,39,74,1);
          &:hover {
            text-decoration: none;
            background-color: $link-hover-color;
          }
        }
      }
    }
  }
}
