<div class="container" @pageState="state">
  <div class="page-header m-t-1">
    <h2>About</h2>
  </div>
  <div class="topic" id="of-note">
    <h4>Of note</h4>
    <p class="lead">
      Notable experiences and events.
    </p>
    <p>
      Every individual has their own unique set of experiences and events; here are some of mine (in no particular order):
    </p>
    <ul>
      <li>Served 3 years aboard a nuclear attack submarine.</li>
      <li>Drove a motorcycle from coast-to-coast across the continental US.</li>
      <li>Founded and managed a foreign corporation.</li>
      <li>Competed in AFM sanctioned motorcycle road racing events.</li>
      <li>Visited 30 states and 11 foreign countries.</li>
    </ul>
  </div>
  <div class="topic" id="gallery">
    <h4>Gallery</h4>
    <p class="lead">
      Photographs.
    </p>
    <p><rc-carousel></rc-carousel></p>
  </div>
  <div class="topic" id="opinion">
    <h4>Opinion</h4>
    <p class="lead">
      An insight into my views on technology, political issues, and life in general.
    </p>
    <p>
      Until I have a blog up, here are some quotes that describe my views:
    </p>
    <div class="blockquote">
      <p>The government that governs least, governs best.</p>
      <p class="blockquote-footer">Thomas Paine</p>
    </div>
    <div class="blockquote">
      <p>The man that reads nothing at all is better educated than the man that reads nothing but newspapers.</p>
      <p class="blockquote-footer">Thomas Jefferson</p>
    </div>
    <div class="blockquote">
      <p>Only two things are infinite, the universe and human stupidity, and I'm not sure about the former.</p>
      <p class="blockquote-footer">Albert Einstein</p>
    </div>
    <div class="blockquote">
      <p>If tyranny and oppression come to this land, it will be in the guise of fighting a foreign enemy.</p>
      <p class="blockquote-footer">James Madison</p>
    </div>
    <div class="blockquote">
      <p>Whenever you find yourself on the side of the majority, it is time to pause and reflect.</p>
      <p class="blockquote-footer">Mark Twain</p>
    </div>
    <div class="blockquote">
      <p>The liberties of a people never were, nor ever will be, secure, when the transactions of their rulers may be concealed from them.</p>
      <p class="blockquote-footer">Patrick Henry</p>
    </div>
    <p>And some of my own observations:</p>
    <div class="blockquote">
      <p>The most elegant solution is generally the most obvious one.</p>
      <p>If one leads by example, they can influence by suggestion.</p>
      <p>Involvement is the greatest motivator.</p>
      <p>Honesty is the best policy in the long run.</p>
    </div>
  </div>
</div>