<div id="about" class="place container">
  <div class="page-header m-t-1">
    <h2>About</h2>
    <p class="lead">
      The subject being me. [insert yawn here]
      <audio autoplay><source src="audio/yawn.m4a" type="audio/mpeg"></audio>
    </p>
    <p>
      Hey, you're the one that navigated here. And though I would admit having some curiosity
      as to what path and reasoning led you to this site, it will likely remain a mystery on my
      part with this being a one-way medium and all (for the time being).
      If your purpose here is an attempt to contact me,
      <a href="mailto:I@rollandcrunk.com"><b style="font-size: 1rem;"><em><span class="fa fa-info"></span></em></b></a> will take you there.
    </p>
    <p>
      <i>About me</i> in a single sentence: I subscribe to the
      <a href="https://en.wikipedia.org/wiki/Golden_Rule" target="_blank">ethic of reciprocity</a>
      as a basic blueprint for harmonious existence with other beings and myself.
    </p>
  </div>
  <rc-of-note-topic></rc-of-note-topic>
  <rc-work-topic></rc-work-topic>
  <rc-opinion-topic></rc-opinion-topic>
  <rc-gallery-topic></rc-gallery-topic>
</div>