<div id="about" class="place container" @pageState="state">
  <div class="page-header m-t-1">
    <h2>About</h2>
    <p class="lead">
      The subject here being me. [insert yawn here]
    </p>
    <p>
      Hey, you're the one that navigated here. And though I would admit having some curiosity
      as to what path and reasoning led you here, but it's perfectly fine that I don't know.
      If it is an attempt to contact me,
      <a href="mailto:I@rollandcrunk.com"><b style="font-size: 1rem;"><em><span class="fa fa-info"></span></em></b></a> will take you there.
    </p>
    <p>
      As for me, I subscribe to the
      <a href="https://en.wikipedia.org/wiki/Golden_Rule" target="_blank">ethic of reciprocity</a>
      as a blueprint for interaction with others and the formation of opinions regarding local and
      world events. There is remarkable consistency in how that same philosophy can be applied across
      the inexhaustible number of different situations that arise in life.
    </p>
  </div>
  <rc-of-note-topic></rc-of-note-topic>
  <rc-work-topic></rc-work-topic>
  <rc-opinion-topic></rc-opinion-topic>
  <rc-gallery-topic></rc-gallery-topic>
</div>