<div class="row">
  <div class="col-lg-6">
    <div id="{{carouselId}}" class="carousel slide"
         data-keyboard="true" data-interval="0">
      <div class="carousel-inner" role="listbox">
        <div *ngFor="let item of media; let i = index;" class="carousel-item" [class.active]="isActive(i, item)" @mediaState="state">
          <img *ngIf="item.media == 'image'" src="{{item.src}}" alt="{{item.title}}" data-holder-rendered="true">
          <div *ngIf="item.media == 'iframe'" class="rc-video-clip">
            <iframe  [src]="trustResource(item.src)" name="{{item.title}}"
                     height="315" width="560"
                     frameborder="0" style="border:0" data-holder-rendered="true"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="media.length > 1" class="carousel-control-panel">
      <a class="left carousel-control" role="button" (click)="back($event)" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <div>
        <ol class="carousel-indicators">
          <li *ngFor="let item of media; let i = index;" [class.active]="i == activeIndex"
              attr.data-slide-to="{{i}}" attr.data-target="{{carouselId}}" (click)="direct($event, i)">
          </li>
        </ol>
      </div>
      <a class="right carousel-control" role="button" (click)="forward($event)"  data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-lg-6">
    <div *ngIf="media.length > 0" class="card">
      <div class="card-block">
        <h4 class="card-title">{{media[activeIndex].title}}</h4>
        <p *ngIf="media[activeIndex].description" class="card-text">
          <span [innerHtml]="trustHtml(media[activeIndex].description)"></span>
        </p>
      </div>
    </div>
  </div>
</div>