<div class="place topic" id="opinion">
  <h4>Opinion</h4>
  <p class="lead">
    An insight into my views on technology, political issues, and life in general.
  </p>
  <p>
    Until I have a blog up, here are some quotes that describe my views:
  </p>
  <div *ngFor="let quote of quotes" class="blockquote">
    <p>{{quote.text}}</p>
    <p class="blockquote-footer">{{quote.author}}</p>
  </div>

  <p>And some of my own observations:</p>
  <div class="blockquote">
    <p>The most elegant solution is generally the most obvious one.</p>
    <p>If one leads by example, they can influence by suggestion.</p>
    <p>Involvement is the greatest motivator.</p>
    <p>Honesty is the best policy in the long run.</p>
  </div>
</div>