<footer class="footer">
  <div class="container">
    <ul class="social">
      <li>
        <a href="https://twitter.com/share?url=http://rollandcrunk.com" target="_blank" title="Tweet">
          <span class="icon fa fa-twitter"></span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://rollandcrunk.com" target="_blank" title="Share to Facebook">
          <span class="icon fa fa-facebook"></span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/rolland-crunk"  target="_blank" title="LinkedIn Profile">
          <span class="icon fa fa-linkedin"></span>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/share?url=http://rollandcrunk.com"  target="_blank" title="Share to Google Plus">
          <span class="icon fa fa-google-plus"></span>
        </a>
      </li>
      <li>
        <a href="https://github.com/rollandcrunk"  target="_blank" title="GitHub Profile">
          <span class="icon fa fa-github-alt"></span>
        </a>
      </li>
    </ul>
  </div>
</footer>